    /*----Skill pages------------------------------------- */

    /* .percent{
        color: black;
    } */
        
    .bar{
        display: flex;
    }

    
    .skillpage{
        width: 50%;
        margin: 0 auto;
    }
    
    .skillpage h1{
        text-align: center;
        color: white;
    
    }
    
    .skillpage h1:hover{
        color: rgb(75, 246, 255);
    
    
    }
    
    div .percent:hover{
        color: rgb(0, 0, 0);
    }
    
    @keyframes load{
        from {  
            width: 0%
        }
    }
    
    @-webkit-keyframes load{
        from {  
            width: 0%
        }
    }
    
    @-moz-keyframes load{
        from {
    
            width: 0%
        }
    }
    
    @-o-keyframes load{
        from {
    
            width: 0%
        }
    }
    
    .bar{
        background-color: #EEE;
        padding: 2px;
        border-radius: 15px;
        margin-bottom: 5px;
        font-size: 14px;
        color: #FFF;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }
    
    .bar::before{
        content:  attr(data-skill);
        background-color: #f3b0ff;
        display: inline-block;
        padding: 5px 0 5px 10px;
        border-radius: inherit;
        animation: load 10s 0s;
        -webkit-animation: load 10s 0s;
        -moz-animation: load 10s 0s;
        -o-animation: load 10s 0s;
    }
    
    
    .bar.front::before{
        background-color: #ffcc33;
    
    }
    
    .bar.back::before{
        background-color: #a6cfe3;
    
    }
    
    
    
    .bar.learning::before{
        width: calc(20% - 10px);
    
    }
    
    .bar.basic::before{
        width: calc(50% - 10px);
    
    }
    
    .bar.intermediate::before{
        width: calc(60% - 10px);
    
    }
    
    
    
    .bar.pre-advanced::before{
        width: calc(80% - 10px);
    
    }
    .bar.advanced::before{
        width: calc(90% - 10px);
    
    }
    
    .bar.expert::before{
        width: calc(95% - 10px);
    
    }
    
    
    
    /* badge sertifikat */
    .badge{
        /* border: ridge; */
        width: 99vw;
    }
    
    
    .badge h3{
        color:white;
        align-items: center;
        text-align: center;
        font-size: 18px;
        padding: 10px;
    }
    
    
    
    
    .badge button{
        color: black;
        background-color: rgb(247, 250, 101);
        border-radius: 20%;
        
    }
    
    .badge button:hover{
        background-color: rgb(171, 172, 72);
    }
    
    .badge1{
        width:40%;
        height: auto;
        object-fit: contain;
    }
    #badge2{
        width: 40%;
        height: auto;
        object-fit: contain;
    }
    #badge3{
        width: 40%;
        height: auto;
        object-fit: contain;
    }