
@import url('https://fonts.googleapis.com/css?family=Poppins');
* {cursor: url(http://cur.cursors-4u.net/nature/nat-3/nat260.cur), auto;}

@media (min-width : 320px)
and (max-width : 680px){
    #badge1{
        width:40%;
        height: auto;
        object-fit: contain;
    }
    #badge2{
        width: 40%;
        height: auto;
        object-fit: contain;
    }
    #badge3{
        width: 40%;
        height: auto;
        object-fit: contain;
    }


}


*{
    font-family: 'Poppins';
    list-style: none;
    
    
}



Link{
    text-decoration: none !important;
}

.navbar{
    background-color: rgba(255,160,213,1);
    font-size: 18px;
    font-weight: 600;
    
}
.navku{
    display: flex;
    justify-content: center;
    /* border: ridge; */
    z-index: 1;
}

.navku a{
    color: white;
}

.navku a:hover{
    color: aqua;
}

.imgNav img {
    width: 50px;
    height: 50px;
}

.imgIntroMe img{
    width: 150px;
    height: 150px;
}

.icon {
    color: white;
    text-decoration: none;
    font-size: 35px;
    padding-left: 2px;
}

.icon:hover{
    color: aqua;
}

.iconku{
    width: auto;
    display: flex;
    /* border: ridge; */
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}


.box2 i{
    font-size:42px;
    margin-bottom: 15px;
}


.aboutmeintro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: ridge; */
}

.pasme{
    /* border: ridge; */
    padding-top: 35px;
    width:340px;
}

.intro{
    padding-top: 90px;
}

.intro2{
    column-gap: 5%;
    justify-items: center;
    padding: 80px;
}

.intro2a h1{
    font-weight: 1000;
}
.intro2a h3{
    font-weight: 800;
    font-size: 20px;

}
.intro2a p{
    font-weight: 500;
    font-size: 16px;
}
.intro2a li{
    font-weight: 500;
    font-size: 15px;
}


.intro2 h1:hover{
    color: aqua;
}

.intro2 h3{
    color: white;
    text-align: justify;
}

#ft{
    color: white;
    text-align: center;
}


.intro button{
    background-color: pink;
    color: black;
    font-size: 20px;
    border-radius: 45px;
}

.intro button:hover{
    background-color: turquoise;
    color: white;

}

.foote{
    background-color: rgb(28, 164, 167);
    width: 100%;
    border: ridge;
    border-color: white;
    color: white;
}

.emailme button{
    background-color: pink;
    color: black;
    font-size: 16px;
    border-radius: 45px;
}

.emailme button:hover{
    background-color: turquoise;
    color: white;

}


        /*----------artikel di index---------------*/
        article{ /* tadi ini .artikel*/
            margin: auto;
            width: fit-content;
            width: -moz-fit-content;
            display: grid;
            margin:100px;
        }

      

        article:hover{
            /* background-color: turquoise; */
            color: white;
        }
        /* .artikel:hover{
            color: white;
        } */

        .artikel a{
            color: black;

        }

      
        .artikel1 a{
            color: white;
        }

        .artikel1 h3{
            border: dotted;
            border-color: white;
            padding: 10px 10px;

        }

        .artikel1 img{
            width: 100%;
        }

        .fa fa-arrow-left{
            z-index: 1;
        }

        .artikel button{
            color: black;
            background-color: pink;
            font-size: 16px;
            border-style: dotted;
            border-color: white;
            position: relative;
        } 

        .artikel button:hover{
            border-color: aqua;
        }

        .artikel h1 {
            color: white;
        }

        .projekKu h1{
            color: white;
        }

        .projekKu h1:hover {
            color: aqua;
        }