@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    font-family: 'Poppins';
    list-style: none;
    
    
}



Link{
    text-decoration: none !important;
}

.navbar{
    background-color: rgba(255,160,213,1);
    font-size: 18px;
    font-weight: 600;
    
}

.navku a{
    color: white;
}

.navku a:hover{
    color: aqua;
}

.imgNav img {
    width: 50px;
    height: 50px;
}

.imgIntroMe img{
    width: 150px;
    height: 150px;
}

.icon {
    color: white;
    text-decoration: none;
    font-size: 35px;
    padding-left: 2px;
}

.icon:hover{
    color: aqua;
}

.iconku{
    
    display: flex;
    /* border: ridge; */
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}


.box2 i{
    font-size:42px;
    margin-bottom: 15px;
}


.aboutmeintro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: ridge;
}

.pasme{
    border: ridge;
    padding-top: 35px;
}

.intro{
    padding-top: 90px;
}


   











.snowflakes {
	width: 95%; 
	position: absolute; top: 50px; left: -10;
}

.snowflakes i, .snowflakes i:after, .snowflakes i:before { background: white; }
.snowflakes i {
	display: inline-block;
	animation: snowflakes 3s linear 2s 20;
	animation: snowflakes 3s linear 2s 20;
	position: relative;
}
.snowflakes i:after, .snowflakes i:before {
	height: 100%; /*bentuk*/
	width: 100%;
	content: ".";
	position: absolute;
	top: 0px;
	left: -1px;
	transform: rotate(120deg);
}
.snowflakes i:before { transform: rotate(240deg); }

@keyframes snowflakes {
	0% {
		transform: translate3d(0,0,0) rotate(0deg) scale(0.6);
	}
	100% {
		transform: translate3d(20px, 900px, 0px) rotate(360deg) scale(0.4);
	};
}

.snowflakes i:nth-child(3n) {
	width: 16px; height: 4px;
    animation-duration: 100s;
    animation-iteration-count: 1000;
    transform-origin: left 10px;
}

.snowflakes i:nth-child(3n+1) {
	width: 24px; height: 6px;
    animation-duration: 6s;
    animation-iteration-count: 1000;
    transform-origin: left 10px;
}

.snowflakes i:nth-child(3n+2) {
	width: 32px; height: 8px;
	animation-duration: 8s;
	animation-iteration-count: 1000;
	transform-origin: left 10px;
}
	
/* different delays so they don't all start at the same time */
.snowflakes i:nth-child(7n) {
    opacity:.3;
    animation-delay: 0s;
    animation-timing-function:ease-in;
}
.snowflakes i:nth-child(7n+1) {
    opacity:.4;
    animation-delay: 1s;
    animation-timing-function:ease-out;
}
.snowflakes i:nth-child(7n+2) {
    opacity:.5;
    animation-delay: 1.5s;
    animation-timing-function:linear;
}
.snowflakes i:nth-child(7n+3) {
    opacity:.6;
    animation-delay: 2s;
    animation-timing-function:ease-in;
}
.snowflakes i:nth-child(7n+4) {
    opacity:.7;
    animation-delay: 2.5s;
    animation-timing-function:linear;
}
.snowflakes i:nth-child(7n+5) {
    opacity:.8;
    animation-delay: 3s;
    animation-timing-function:ease-out;
}
.snowflakes i:nth-child(7n+6) {
    opacity:.9;
    animation-delay: 3.5s;
    animation-timing-function:ease-in;
}
