
@import url('https://fonts.googleapis.com/css?family=Poppins');
* {cursor: url(http://cur.cursors-4u.net/nature/nat-3/nat260.cur), auto;}

@media (min-width : 320px)
and (max-width : 680px){
    #badge1{
        width:40%;
        height: auto;
        object-fit: contain;
    }
    #badge2{
        width: 40%;
        height: auto;
        object-fit: contain;
    }
    #badge3{
        width: 40%;
        height: auto;
        object-fit: contain;
    }

}


*{
    font-family: 'Poppins';
    list-style: none;
    
    
}



Link{
    text-decoration: none !important;
}

.navbar{
    background-color: rgba(255,160,213,1);
    font-size: 18px;
    font-weight: 600;
    
}
.navku{
    display: flex;
    justify-content: center;
    border: ridge;
    z-index: 1;
}

.navku a{
    color: white;
}

.navku a:hover{
    color: aqua;
}

.imgNav img {
    width: 50px;
    height: 50px;
}

.imgIntroMe img{
    width: 150px;
    height: 150px;
}

.icon {
    color: white;
    text-decoration: none;
    font-size: 35px;
    padding-left: 2px;
}

.icon:hover{
    color: aqua;
}

.iconku{
    width: auto;
    display: flex;
    border: ridge;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}


.box2 i{
    font-size:42px;
    margin-bottom: 15px;
}


.aboutmeintro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: ridge;
}

.pasme{
    border: ridge;
    padding-top: 35px;
}

.intro{
    padding-top: 90px;
}